*{
    box-sizing: border box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #020A19;
}

.container{
    max-width: 1400px;
    margin: auto;
}

nav{
    background: #020A19;
    height: 80px;
    width: 100%;
    position: fixed;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
    padding-left: 20px;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(11, 15, 85, 0.9);
    top: 80px;
    left: -100%;
    /* le pongo left -100 para que se oculte y solo salga si se clickea el check*/
    text-align: center;
    transition: all .5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;  
}
header a{
    font-size: 20px;
    font-weight: bold;
    color: #3DA4FD;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
header a:hover{
    color:rgb(25, 25, 150);
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}
#check{
    display: none;
}
/* funcion que si el check se clickea se lama a ul y le pongo left: 0 para que aparezca en pantalla*/
#check:checked ~ul{
    left: 0;
}
/* solo puse este seccion para probar como queda el nav*/
section{
    background-color: #fff;
    width: 100%;
    padding: 200px 30px;
}



@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    .enlace{
        padding: 20px 12px;
    }
    nav ul{
        float: right;
        margin-right: 12px;
        width: 100%;
        height: 100vh;
        background: none;
        top: 0px;
        left: 0;
        text-align: right;
        transition: all 0.0s;
    }
    header a{
        font-size: 13px;
        padding: 7px 2px;
    }
    nav ul li{
        display: inline-block;
        margin-top: 0;
        margin-right: 20px;
        line-height: 80px;
          
     }
     #logo{
        font-size: 3em;
     }
    #Habilidades .container{
        flex-direction: row; 
    }
    .checkbtn{
        display: none;
        /*al ser la pantalla de mas de 720 px se esconde el menu de barras*/
    }
}