:root {
    --header-color1: #3f0071;
    --baground-ligh: #fff;
    --baground-dark: #0c0717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: solid 2px red;*/
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 90px 20px 0;
    background: var(--baground-ligh);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.dark_mode {
    background: var(--baground-dark);
    color: #fff;
}

header {
    background: var(--header-color1);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: auto;
}

.nav-menu-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 10em;
    margin: 0 50px;
}

img {
    width: 100%;
}

.menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
    max-width: max-content;
}

.nav-menu-link:hover {
    background: #fff;
    border-radius: 5px;
    color: var(--header-color1);
    transition: 0.5s;
}

.btn {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

#checkbox {
    display: none;
}

.toggler {
    display: block;
    width: 60px;
    height: 31px;
    border: 2px solid #fff;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.ball, .sun, .moon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    left: 1px;
    z-index: 10;
    transition: transform .5s ease-in-out;
}

.sun {
    left: 5px;
    color: #fff;
}

.moon {
    right: 5px;
    color: #fff;
}

#checkbox:checked + .ball {
    transform: translate(29px, -50%);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 3em;
    text-align: center;
    color: #dfeb35;
    font-family: 'Bebas Neue', cursive;
}

#titulo{
    margin-top: 20px;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.banners{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}
.slider {
    width: 80vw;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -10px 10px 70px 10px #3f0071;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 80vw;
    height: 70vh;
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    margin-top: 65vh;
    width: 80vw;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 4px solid #3f0071;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #3f0071;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 80vw;
    justify-content: center;
    margin-top: 65vh;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #fff;
}

.navigation-auto div {
    border: 4px solid #3f0071;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #f7f31c, #ebb135);
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #303030;
}
/*CSS de la parte de Productos*/
#Productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#Productos .container {
    width: 90%;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 12px;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
    border-radius: 20px 0 20px 0;
}

.card .front {
    background-color: #3f0071;
    transform: perspective(500px) rotateY(0deg);
}

.card .back {
    background-color: #b883e3;
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(500px) rotateY(360deg);
}


/*CSS de la parte de donde estamos*/
#Donde-estamos{
    flex-direction: column;
    align-items: center;
}

/*CSS de la parte de contacto*/
.contacto .container{
    text-align: center;
    width: 100%;
}

form{
    /*se rompia con el viewportwidth */
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    
}

input, textarea{
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    background-color: rgba(250,250,250,0.1);
    color: #fff; 
    border-radius: 5px; 
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#botonContacto{
    background-color:#dfeb35;
    color: #020A19;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
#botonContacto:hover{
    cursor: pointer;
}

#Contacto i{
    color: #dfeb35;
    font-size: 3em;
    margin: 12px;
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .menu {
        flex-direction: column;
        margin-right: 20px;
        background: var(--header-color1);
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        height: calc(100% - 60px);
        left: 100%;
        transition: 0.5s;
    }

    .nav-menu {
        font-size: 1.5em;
        padding: 5px;
        margin: 5px;
    }

    .nav-menu-link:hover {
        background: none;
        color: #dfeb35;
    }

    .btn {
        display: block;
    }

    .menu_visible {
        left: 0;
    }
    
    #Productos .container {
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }

}
