/* Aqui aplicamos las variables de los colores */
:root {
    --color-principal: hsl(300, 100%, 9%);
    --color-menuresponsive: hsl(300, 50%, 10%);
    --color-detail: hsl(313, 100%, 28%);
    --color-title: hsl(61, 100%, 50%);
    --color-text: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: solid 2px red;*/
}

body {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    background-image: url(media/9e8d5b3b19a1a55a77ba672d93608737.png);
    background-attachment: fixed;
    background-repeat: none;
    background-size: cover;
}

/* configuraciones del nav */
header {
    background: var(--color-principal);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid var(--color-detail);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: auto;
}

.nav-menu-link {
    color: var(--color-text);
    text-decoration: none;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 8em;
    margin: 5px 50px;
}

img {
    width: 100%;
}

.menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
    max-width: max-content;
}

.nav-menu-link:hover {
    background: #fff;
    border-radius: 5px;
    color: var(--header-color1);
    transition: 0.5s;
}

.btn {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

span {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Section Inicio */

h1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    color: var(--color-title);
}

h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 30px;
    color: var(--color-title);
}

h4 {
    font-size: 1.2em;
    color: #fff;
}

section {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banners {
    display: flex;
}

.slider {
    width: 80vw;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px 1px 100px 1px hsl(305, 83%, 56%);
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 80vw;
    height: 70vh;
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    margin-top: 65vh;
    width: 80vw;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 4px solid #3f0071;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: hsl(273, 100%, 22%);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 80vw;
    justify-content: center;
    margin-top: 65vh;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #fff;
}

.navigation-auto div {
    border: 4px solid #3f0071;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, hsl(59, 93%, 54%), hsl(41, 82%, 56%));
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #303030;
}

/* Section Quienes Somos */
#Quienes-somos {
    width: 100%;
    height: 100vh;
}

/* Section Productos */
#Productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#Productos .container {
    width: 90%;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid none;
    border-radius: 20px 0 20px 0;
    box-shadow: 2px 5px 10px 2px var(--color-detail);
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1.5s;
    border-radius: 20px 0 20px 0;
}

.card .front {
    transform: perspective(500px) rotateY(0deg);
}

.card .back {
    background-color: var(--color-principal);
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .front {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(500px) rotateY(360deg);
}

/* Donde estamos */
#Donde-estamos {
    flex-direction: column;
    align-items: center;
}

/* Contacto */
.contacto .container {
    text-align: center;
    width: 100%;
}

form {
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: var(--color-principal);
    border-radius: 10px;
}

input, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    background-color: rgba(250,250,250,0.1);
    color: #fff; 
    border-radius: 5px; 
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#botonContacto {
    background-color:hsl(64, 82%, 56%);
    color: var(--color-principal);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

#botonContacto:hover {
    cursor: pointer;
}

#Contacto i {
    color: hsl(64, 82%, 56%);
    font-size: 3em;
    margin: 12px;
}

@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .menu {
        flex-direction: column;
        margin-right: 20px;
        background: var(--color-menuresponsive);
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        height: calc(100% - 60px);
        left: 100%;
        transition: 0.5s;
    }

    .nav-menu {
        font-size: 1.3em;
        padding: 5px;
        margin: 5px;
    }

    .nav-menu-link:hover {
        background: none;
        color: hsl(64, 100%, 50%);
    }

    .btn {
        display: block;
    }

    .menu_visible {
        left: 0;
    }
}
